/* 第4种方法 absolute=margin-left */

.wrapper {
	overflow: auto; /* 清除浮动，记住了，为什么用clear：both没用？ */
    padding: 15px 20px;
    border: 5px solid #ddd;
   box-sizing: content-box;
}


.left {
	position: absolute;
    top: 0;
    left: 0;
    width: 120px; /* 固定宽度 */
    border: 5px solid #ddd;
    box-sizing: border-box;
}
.right {
    margin-left: 140px; /* 布局方式 */
    box-sizing: border-box;
    border: 5px solid #ddd;
    width: calc(100% - 140px); /* 计算宽度 */
}

    /* 步骤：
    一、选择布局方式float
    二、清除浮动
    三、box-sizing设置
    四、宽度设置
    */ 